.end-container {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 10px solid #eceff1;
    margin: 10%;
    padding: 10%;
    width: 1000px;
    height: 600px;
    max-width: 80%;
    padding: 10px;
}

#username{
    width: 400px;
    height: 50px;
}

.btn-end {
    display: block;
    font-size: 20px;
    width: 300px;
    height: 50px;
    color:var(--lightteal);
    background-color:var(--teal);
    border-radius:10px;
    margin: 20px;
}