* {
    box-sizing: border-box;
    
}
:root {
    --teal: #71a8a7;
    --lightteal: #d5f5f5;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    width: 90vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 10px solid #eceff1;
    margin: 10%;
    padding: 10%;
    width: 1000px;
    height: 600px;
    max-width: 80%;
    padding: 10px;
}


.btn {
    display: flex;
    margin: 10px;
    width: 300px;
    height: 50px;
    color:var(--lightteal);
    background-color:var(--teal);
    border-radius:10px;
    padding: 2px;
}

.btn:hover {
    background-color: rgb(174, 122, 194);
    cursor: pointer;
    transition: transform 150ms
}

.start-btn {
    width: 300px;
    height: 100px;
    font-size: 3rem;
    font-weight: bold;
    padding: 10px 20px 30px ;
    color:var(--lightteal);
    background-color:var(--teal);
    border-radius:10px;
    margin: 20px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
